---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="UCL Quantum Society">
  <main>
    <Container>
      <div class="relative pt-32">
        <div class="text-center mb-8">
          <h1 class="text-xl font-medium text-primary">About Us</h1>
          <div class="w-24 h-1 bg-primary mx-auto mt-2 rounded-full"></div>
          <p class="mt-8 text-transparent bg-gradient-to-r from-primary to-primary bg-clip-text font-light">
            UCL Quantum Society is a platform to inspire curiosity, attract talent, and connect students with the
            evolving world of quantum technology and science. We collaborate with startups, research institutes,
            government entities and industry leaders to organise insightful events in our mission to bridge academia,
            technology and business.
          </p>
          <p class="mt-8 text-transparent bg-gradient-to-r from-primary to-primary bg-clip-text font-light">
            Whether you're a PhD-level physicist or have never heard of a quantum computer, we're driven to provide a
            learning platform for everyone, cultivating a community of shared interests and unique perspectives.
          </p>
          <p class="mt-8 text-transparent bg-gradient-to-r from-primary to-primary bg-clip-text font-light">
            Join us as we explore the endless possibilities of quantum innovation and its potential to reshape fields
            from computing to art.
          </p>
        </div>

        <div class="mt-20">
          <div class="text-center mb-8">
            <h2 class="text-xl font-medium text-primary">Committee 2025-26</h2>
            <div class="w-24 h-1 bg-primary mx-auto mt-2 rounded-full"></div>
          </div>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-6 justify-items-center"
          >
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/danielaliev/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Daniel Aliev</h3>
                <p class="text-primary mt-2 text-center">President and Co-Founder</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/rui-rui-xie/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Rui Rui Xie</h3>
                <p class="text-primary mt-2 text-center">Vice President and Co-Founder</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/kingchalapati/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">King Chalapati</h3>
                <p class="text-primary mt-2 text-center">Treasurer</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/leo-aliev-b93886362/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Leo Aliev</h3>
                <p class="text-primary mt-2 text-center">Welfare Officer</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Surabhi Luthra</h3>
                <p class="text-primary mt-2 text-center">Senior Advisor &amp; Head of Qiskit</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/mvkmoore/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Matilda Moore</h3>
                <p class="text-primary mt-2 text-center">Head of Events</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/tiapatell/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Tia Patel</h3>
                <p class="text-primary mt-2 text-center">Head of Marketing</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/defne-d-aydin-560ab0256/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Defne Aydin</h3>
                <p class="text-primary mt-2 text-center">Head of Research</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/ethan-kao/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">Ethan Kao</h3>
                <p class="text-primary mt-2 text-center">Research Associate</p>
              </a>
            </div>
            <div class="group relative w-full sm:w-auto flex justify-center">
              <a
                href="https://www.linkedin.com/in/george-szucsany-b299a4293/"
                target="_blank"
                class="relative bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl border border-primary/30 hover:border-primary/70 transition-all duration-300 transform hover:scale-105 shadow-lg p-6 flex flex-col items-center w-full sm:w-64 h-32 justify-center"
              >
                <h3 class="text-lg font-medium text-primary">George Szucsany</h3>
                <p class="text-primary mt-2 text-center">Research Associate</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>
