---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="UCL Quantum Society" headerShadowClass="shadow-lg shadow-primary/20">
	<main class="">
		<HeroSection/>
	</main>
</Layout>