---
export const prerender = true;
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="UCL Quantum Society">
  <main class="">
    <HeroSection />
  </main>
</Layout>
