---
import QFFHeroSection from '../components/QFFHeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="UCL Quantum Society" bodyClass="bg-black" headerTextClass="text-white" headerShadowClass="shadow-2xl shadow-qff-pink/50" headerHamburgerClass="bg-white" headerNavBackgroundClass="bg-black" footerTextClass="text-white">
	<main class="">
		<QFFHeroSection/>
	</main>
</Layout>