---
export const prerender = true;
import QFFHeroSection from '../components/QFFHeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="UCL Quantum Society" bodyClass="bg-black" headerTextClass="text-white">
  <main class="">
    <QFFHeroSection />
  </main>
</Layout>
