---
import Container from './Container.astro';

export interface Props {
  textClass?: string;
}

const { textClass } = Astro.props;

// Define text color class
const logoTextClass = textClass || 'text-white';
---

<header>
  <nav class="fixed top-0 left-0 right-0 z-30 w-full bg-transparent">
    <Container>
      <div class="flex items-center justify-center py-4">
        <a href="/" aria-label="logo" class="flex items-center space-x-2">
          <img src="/UCLQ_Logo_White.png" alt="UCL Quantum Society logo" class="h-10 w-auto object-contain" />
          <span class={`text-2xl font-medium ${logoTextClass}`}>UCL Quantum Society</span>
        </a>
      </div>
    </Container>
  </nav>
</header>
