@import 'tailwindcss';

@theme {
    --color-primary : #0b2b4e;
    --color-secondary : var(--color-orange-600);
    --color-info : var(--color-blue-600);
    --color-qff-purple: #BD96FE;
    --color-qff-pink: #FF7EB5;
}