---
import { AstroFont } from 'astro-font';
import AppFooter from '../components/AppFooter.astro';
import AppHeader from '../components/AppHeader.astro';
import './../tailus.css';

export interface Props {
  title?: string;
  bodyClass?: string;
  headerTextClass?: string;
  footerTextClass?: string;
}

const { title, bodyClass = 'bg-black', headerTextClass, footerTextClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/UCLQ_Logo.png" />
    <title>{title || 'UCL Quantum Society'}</title>

    <AstroFont
      config={[
        {
          src: [],
          name: 'Montserrat',
          preload: true,
          display: 'swap',
          selector: 'html',
          fallback: 'sans-serif',
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap',
        },
      ]}
    />
  </head>
  <body class={bodyClass}>
    <AppHeader textClass={headerTextClass} />
    <slot />
    <AppFooter textClass={footerTextClass} />
  </body>
</html>
